<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>{% block title %}{% endblock %}</title>
	{% block extracss %}{% endblock %}

</head>
<body>
	<div class="container">
		<div class="header">
			<div id="top">
				<!--<a href="/blog/"><img src="/static/images/logo.jpg" alt="LOGO" width="180" height="140" id="logo"></a>-->
				<div id="nav_dir">
					<ul id="top_nav">
						
						<li><a href="/" class="a_normal">首页</a></li>
						<li><a href="#" class="a_normal">订阅</a></li>
						<li><a href="https://weibo.com/u/3341525200?is_all=1" class="a_normal">微博</a></li>
					</ul>
				</div>
			</div>
		</div>
		<!-- end .header -->

		<div class="content_body">
			{% block content_body %}{% endblock %}
		</div>

		<div class="footer">
			<div id="footer_logo"></div>
		</div>
	</div>
</body>
</html>